<nav class="sg-navbar">

  <ul class="sg-navbar-nav">
    <li class="sg-nav-item">
      <a class="sg-nav-link" href="/">Home</a>
    </li>
    <li class="sg-nav-item">
      <a class="sg-nav-link" href="/about">About</a>
    </li>
    <li class="sg-nav-item">
      <a class="sg-nav-link" href="/scoreboard">Scoreboard</a>
    </li>
  </ul>

  {% if username is defined %}
  <!-- Authenticated -->
  <ul class="sg-navbar-nav">
    <li class="sg-nav-item">
      <span class="sg-badge">
        <span>Score: {{ score }}</span>
      </span>
    </li>
    <li class="sg-nav-item">
      <a class="sg-btn sg-btn-success" href="/challenge">
        Challenge!
      </a>
    </li>
  </ul>
  {% else %}
  <!-- Not authenticated -->
  <ul class="sg-navbar-nav">
    <a class="sg-btn sg-btn-info sg-nav-item" href="/signup">Sign Up</a>
    <a class="sg-btn sg-btn-primary sg-nav-item" href="/login">Login</a>
  </ul>
  {% endif %}

</nav>