{% extends "base.html" %}

{% block title %}Challenge{% endblock %}

{% block content %}
<h1>New Challenge!</h1>

{% include "includes/problem.html" %}

<h2>Answer:</h2>

<form action="/challenge" method="POST" autocomplete="off">
  <table border="1">
    <tr>
      <th>Process #</th>
      <th>Finish Time</th>
      <th>Wait Time</th>
    </tr>
    {% for _ in problem.times %}
    <tr>
      <td>{{ loop.index0 + 1 }}</td>
      <td><input name="finish_{{ loop.index0 }}" /></td>
      <td><input name="wait_{{ loop.index0 }}" /></td>
    </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Submit" />
</form>

{% endblock %}