{% extends "base.html" %}

{% block title %}Challenge{% endblock %}

{% block content %}
<div class="container">
  <div class="m-4">
    <form action="/challenge" method="POST" autocomplete="off">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <div class="row mb-5">
        <div class="col-sm my-4">
          <div class="card h-100">
            <div class="card-body">
              {% include "includes/problem.html" %}
            </div>
          </div>
        </div>

        <div class="col-sm my-4">
          <div class="card h-100">
            <div class="card-body">
              <table class="table">
                <tr>
                  <th>Process #</th>
                  <th>Finish Time</th>
                  <th>Wait Time</th>
                </tr>
                {% for _ in problem.times %}
                <tr>
                  <td>{{ loop.index0 + 1 }}</td>
                  <td><input class="form-control" name="finish_{{ loop.index0 }}" /></td>
                  <td><input class="form-control" name="wait_{{ loop.index0 }}" /></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right">
        <input class="sg-btn sg-btn-primary" type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
{% endblock %}