{% extends "base.html" %}

{% block title %}Challenge{% endblock %}

{% block content %}
<div class="container">
  <div class="m-4">
    <h1>
      {% if is_correct: %}
      Correct!
      {% else %}
      Incorrect!
      {% endif %}
    </h1>

    <div class="row mb-5">
      <div class="col-sm">
        <div class="card my-4 h-100">
          <div class="card-body">
            {% include "includes/problem.html" %}
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card my-4 h-100">
          <div class="card-body">
            <table class="table">
              <tr>
                <th>Process #</th>
                <th>Finish Time</th>
                <th>Wait Time</th>
              </tr>
              {% for finish_t, wait_t in answer_times %}
              <tr>
                <td>{{ loop.index0 + 1 }}</td>
                <td>{{ finish_t }}</td>
                <td>{{ wait_t }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right">
      <a class="btn btn-info" href="/challenge">Next Challenge</a>
    </div>
  </div>
</div>
{% endblock %}