{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="card p-4 m-4">
    <div class="d-flex flex-column align-items-center">
      <h1>Welcome to the Process Scheduling Racer</h1>
      <p>
        Are you faster than a CPU? Do you think you can schedule jobs faster than a computer?
      </p>
      <p>
        Well too bad. You can't. But you can try.
      </p>
      <div>
        <a class="btn btn-primary" href="/login">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}