{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
  <div class="sg-primary-panel p-4" style="min-height: 20em;">
    <div class="d-flex flex-column align-items-center pt-5">
      <h1 class="mb-5">Welcome to the Scheduling Gauntlet</h1>

      <div class="row my-5" style="color: black;">
        <div class="col-sm">
          <div class="sg-card h-100">
            <h4>Pretend to be an OS.</h4>
          </div>
        </div>
        <div class="col-sm">
          <div class="sg-card h-100">
            <h4>Solve a variety of different process scheduling problems.</h4>
          </div>
        </div>
        <div class="col-sm">
          <div class="sg-card h-100">
            <h4>Compete with others.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sg-secondary-panel p-4" style="min-height: 20em;">
    <div class="d-flex flex-column align-items-center mt-5">
      <h1>Get Started</h1>
      <div class="mt-5">
        <a class="sg-btn sg-btn-info mr-1" href="/signup">Sign Up</a>
        <a class="sg-btn sg-btn-primary" href="/login">Login</a>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}